body{
    font-family: 'Poppins', sans-serif;
    margin: right 300px;

    
    
}


.top-banner{
    background-color: indigo;
    width: 100%;
    margin-left: 30px;
    height: 677px;
    position:relative;
    margin-right: 200px;
    
    
    

}
nav ul{
    display: flex;
    border: 3px solid red ;
    

}
nav ul span{
    /* position: relative; */
    left: 1000px;
    background-color: #E02C6D;
    height: 44px;
    width: 123px;
}
nav li {
    list-style: none;
    
    
    margin-right: 30px;
    margin-top: 42px;
    padding: 0 20px;
}


}


}
nav ul li .login{
    text-decoration: none;
}
.heading{
    font-size: 64px;
    padding-left: 156px;
    color: #FFFFFF;
    height: 485px;
    width: 600px;
    padding-bottom: 0%;
    
    font-weight: bold;
}
.imagendcaption{
    display:inline;
}
.banner img{
    position: relative;
    width: 556px;
    height: 438px;
    left: 1300px;
    top: -480px;

}
.watchlive a{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 5px;
}
.watchlive{
    height: 44px;
    width: 168px;
    position: relative;
    top: -100px;
    
    

}
.login{
    text-decoration: none;
    
    height: 30px;
    padding: 10px;
    position: relative;
    left: 900px;
}
.player-part{
    margin-left: 180px;
    margin-top: 70px;
}

nav ul li a{
    text-decoration: none;
    color: red;
}
.name{
    position: relative;
    bottom: -180px;
    
}
.player-info{
    position: relative;
    bottom: -180px;
    text-align:left
    width: 200px;
}


/*---------------top players style
-----------------------------------*/ 

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 474px;
    width: 330px;
    position: relative; 
    left: 150px;
    
    
    
}
.player img{
    width: 300px;
    height: 256px;
}
.player{
    border: lightgrey 1px solid;
    box-shadow:20px 20px 50px grey;
    margin: 30px;
    padding: 15px;
    align-items: flex-start;
    flex-direction: row;
}

/* botttom style*/
.heading2{
    position: absolute;
    width: 469px;
    height: 309px;
    left: 182px;
    top: 3550px;
}
.heading2 h1{
    font-size: 48px;
}
.matchpic img{
    
        position: relative;
        width: 567px;
        height: 427px;
        left: 1000px;
        bottom: 350px;
        
}

.logo img{
    width: 483px;
    height: 110px;
}

.social-icons img{
    width: 32px;
    height: 32px;
}

.last-part{
    
    position: relative;
width: 483.87px;
height: 213px;
left: 550px;
top: 2900px;
}
.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.watchnow a{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 5px;
}


